# Import

In [71]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [72]:
pitAllSt = pd.read_excel('data_files_copied_from_step1_output/pitAllSt.xlsx', index_col=0)
pitAllCoc = pd.read_excel('data_files_copied_from_step1_output/pitAllCoc.xlsx', index_col=0)
hicAllSt = pd.read_excel('data_files_copied_from_step1_output/hicAllSt.xlsx', index_col=0)
hicAllCoc = pd.read_excel('data_files_copied_from_step1_output/hicAllCoc.xlsx', index_col=0)

In [73]:
pitAllSt.columns

Index(['year', 'numCoCs', 'totalH', 'shelH', 'unshelH', 'totalIndiv',
       'shelIndiv', 'unshelIndiv', 'totalInFam', 'shelInFam', 'unshelInFam',
       'totalChronic', 'shelChronic', 'unshelChronic', 'totalNonChronic',
       'shelNonChronic', 'unshelNonChronic', 'totalChronicIndiv',
       'shelChronicIndiv', 'unshelChronicIndiv', 'totalChronicInFam',
       'shelChronicInFam', 'unshelChronicInFam', 'totalVet', 'shelVet',
       'unshelVet', 'totalNonVet', 'shelNonVet', 'unshelNonVet',
       'totalYouthAll', 'shelYouthAll', 'unshelYouthAll', 'totalYouthChild',
       'shelYouthChild', 'unshelYouthChild', 'totalYouthYA', 'shelYouthYA',
       'unshelYouthYA', 'totalParYouthAll', 'shelParYouthAll',
       'unshelParYouthAll', 'totalParYouthChild', 'shelParYouthChild',
       'unshelParYouthChild', 'totalParYouthYA', 'shelParYouthYA',
       'unshelParYouthYA', 'totalChildOfParYouth', 'shelChildOfParYouth',
       'unshelChildOfParYouth'],
      dtype='object')

In [74]:
hicAllSt.columns

Index(['year', 'allBeds', 'tempBedsAll', 'permBedsAll', 'esBedsAll',
       'thBedsAll', 'shBedsAll', 'rrhBedsAll', 'pshBedsAll', 'ophBedsAll',
       'tempBedsNoChildren', 'permBedsNoChildren', 'esBedsNoChildren',
       'thBedsNoChildren', 'shBedsNoChildren', 'rrhBedsNoChildren',
       'pshBedsNoChildren', 'ophBedsNoChildren', 'tempBedsWithChildren',
       'permBedsWithChildren', 'esBedsWithChildren', 'thBedsWithChildren',
       'shBedsWithChildren', 'rrhBedsWithChildren', 'pshBedsWithChildren',
       'ophBedsWithChildren', 'tempBedsOnlyChildren', 'permBedsOnlyChildren',
       'esBedsOnlyChildren', 'thBedsOnlyChildren', 'shBedsOnlyChildren',
       'rrhBedsOnlyChildren', 'pshBedsOnlyChildren', 'ophBedsOnlyChildren',
       'tempUnitsWithChildren', 'permUnitsWithChildren', 'esUnitsWithChildren',
       'thUnitsWithChildren', 'shUnitsWithChildren', 'rrhUnitsWithChildren',
       'pshUnitsWithChildren', 'ophUnitsWithChildren', 'esBedsNonDv',
       'thBedsNonDv', 'shBedsNonDv', 'rrhBedsNonDv', 'pshBedsNonDv',
       'ophBedsNonDv', 'esBedsOverflow', 'esBedsSeasonal', 'esBedsDedVet',
       'thBedsDedVet', 'shBedsDedVet', 'rrhBedsDedVet', 'pshBedsDedVet',
       'ophBedsDedVet', 'esBedsDedYouth', 'thBedsDedYouth', 'shBedsDedYouth',
       'rrhBedsDedYouth', 'pshBedsDedYouth', 'ophBedsDedYouth',
       'pshBedsDedCh'],
      dtype='object')

In [75]:
pit2007St = pitAllSt[pitAllSt.loc[:,'year']==2007]
pit2008St = pitAllSt[pitAllSt.loc[:,'year']==2008]
pit2009St = pitAllSt[pitAllSt.loc[:,'year']==2009]
pit2010St = pitAllSt[pitAllSt.loc[:,'year']==2010]
pit2011St = pitAllSt[pitAllSt.loc[:,'year']==2011]
pit2012St = pitAllSt[pitAllSt.loc[:,'year']==2012]
pit2013St = pitAllSt[pitAllSt.loc[:,'year']==2013]
pit2014St = pitAllSt[pitAllSt.loc[:,'year']==2014]
pit2015St = pitAllSt[pitAllSt.loc[:,'year']==2015]
pit2016St = pitAllSt[pitAllSt.loc[:,'year']==2016]
pit2017St = pitAllSt[pitAllSt.loc[:,'year']==2017]

pit2007Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2007]
pit2008Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2008]
pit2009Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2009]
pit2010Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2010]
pit2011Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2011]
pit2012Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2012]
pit2013Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2013]
pit2014Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2014]
pit2015Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2015]
pit2016Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2016]
pit2017Coc = pitAllCoc[pitAllCoc.loc[:,'year']==2017]

hic2007St = hicAllSt[hicAllSt.loc[:,'year']==2007]
hic2008St = hicAllSt[hicAllSt.loc[:,'year']==2008]
hic2009St = hicAllSt[hicAllSt.loc[:,'year']==2009]
hic2010St = hicAllSt[hicAllSt.loc[:,'year']==2010]
hic2011St = hicAllSt[hicAllSt.loc[:,'year']==2011]
hic2012St = hicAllSt[hicAllSt.loc[:,'year']==2012]
hic2013St = hicAllSt[hicAllSt.loc[:,'year']==2013]
hic2014St = hicAllSt[hicAllSt.loc[:,'year']==2014]
hic2015St = hicAllSt[hicAllSt.loc[:,'year']==2015]
hic2016St = hicAllSt[hicAllSt.loc[:,'year']==2016]
hic2017St = hicAllSt[hicAllSt.loc[:,'year']==2017]

hic2007Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2007]
hic2008Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2008]
hic2009Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2009]
hic2010Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2010]
hic2011Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2011]
hic2012Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2012]
hic2013Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2013]
hic2014Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2014]
hic2015Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2015]
hic2016Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2016]
hic2016Coc = hicAllCoc[hicAllCoc.loc[:,'year']==2017]

# Merge ST

In [76]:
pitAllSt.reset_index(inplace=True)
hicAllSt.reset_index(inplace=True)

In [77]:
pitAllSt.set_index(['st','year'], inplace=True)
hicAllSt.set_index(['st','year'], inplace=True)
pitAllSt.head(3)

,,numCoCs,totalH,shelH,unshelH,totalIndiv,shelIndiv,unshelIndiv,totalInFam,shelInFam,unshelInFam,...,unshelParYouthAll,totalParYouthChild,shelParYouthChild,unshelParYouthChild,totalParYouthYA,shelParYouthYA,unshelParYouthYA,totalChildOfParYouth,shelChildOfParYouth,unshelChildOfParYouth
st,year,,,,,,,,,,,,,,,,,,,,,
AK,2007,2,1642,1387,255,1062,891,171,580,496,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AL,2007,8,5452,3796,1656,4184,2823,1361,1268,973,295,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AR,2007,9,3836,2285,1551,2987,1766,1221,849,519,330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [78]:
pitHicAllSt = pitAllSt.merge(hicAllSt, how='outer', left_index=True, right_index=True)
pitHicAllSt.tail(3)

,,numCoCs,totalH,shelH,unshelH,totalIndiv,shelIndiv,unshelIndiv,totalInFam,shelInFam,unshelInFam,...,rrhBedsDedVet,pshBedsDedVet,ophBedsDedVet,esBedsDedYouth,thBedsDedYouth,shBedsDedYouth,rrhBedsDedYouth,pshBedsDedYouth,ophBedsDedYouth,pshBedsDedCh
st,year,,,,,,,,,,,,,,,,,,,,,
WI,2017,4,5027,4687,340,2645,2317,328,2382,2370,12,...,105.0,1071.0,14.0,78.0,130.0,0.0,12.0,0.0,0.0,823.0
WV,2017,4,1309,1121,188,1032,860,172,277,261,16,...,93.0,517.0,0.0,5.0,5.0,0.0,0.0,9.0,0.0,634.0
WY,2017,1,873,510,363,622,383,239,251,127,124,...,25.0,229.0,0.0,11.0,20.0,0.0,0.0,0.0,0.0,41.0

*Reset the index to be only state*

In [79]:
pitHicAllSt.reset_index(inplace=True)
pitHicAllSt.set_index('st', inplace=True)

# Merge CoC

*Reset index, standardize 'st' name, and set multi-index for the merger*

In [80]:
pitAllCoc.reset_index(inplace=True)
hicAllCoc.reset_index(inplace=True)

In [81]:
pitAllCoc = pitAllCoc.rename(columns = {"ST":"st"})
hicAllCoc = hicAllCoc.rename(columns = {"ST":"st"})
hicAllCoc.head(3)

,cocNum,st,year,allBeds,tempBedsAll,permBedsAll,esBedsAll,thBedsAll,shBedsAll,rrhBedsAll,...,rrhBedsDedVet,pshBedsDedVet,ophBedsDedVet,esBedsDedYouth,thBedsDedYouth,shBedsDedYouth,rrhBedsDedYouth,pshBedsDedYouth,ophBedsDedYouth,pshBedsDedCh
0,AK-500,AK,2007,1214,884,330,500,384,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.0
1,AK-501,AK,2007,1033,874,159,595,279,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
2,AL-500,AL,2007,2595,1303,1292,388,915,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257.0

In [82]:
pitAllCoc.set_index(['cocNum','year'], inplace=True)
hicAllCoc.set_index(['cocNum','year'], inplace=True)
hicAllCoc.head(3)

,,st,allBeds,tempBedsAll,permBedsAll,esBedsAll,thBedsAll,shBedsAll,rrhBedsAll,pshBedsAll,ophBedsAll,...,rrhBedsDedVet,pshBedsDedVet,ophBedsDedVet,esBedsDedYouth,thBedsDedYouth,shBedsDedYouth,rrhBedsDedYouth,pshBedsDedYouth,ophBedsDedYouth,pshBedsDedCh
cocNum,year,,,,,,,,,,,,,,,,,,,,,
AK-500,2007,AK,1214,884,330,500,384,NaN,NaN,330,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,121.0
AK-501,2007,AK,1033,874,159,595,279,NaN,NaN,159,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0
AL-500,2007,AL,2595,1303,1292,388,915,NaN,NaN,1292,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257.0

*MERGE!*

In [83]:
pitHicAllCoc = pitAllCoc.merge(hicAllCoc, how='outer', left_index=True, right_index=True)

In [84]:
pitHicAllCoc.head(3)

                   cocName st_x  totalH   shelH  unshelH  totalIndiv  \
cocNum year
AK-500 2007  Anchorage CoC   AK   974.0   842.0    132.0       696.0
       2008  Anchorage CoC   AK  1023.0   921.0    102.0       695.0
       2009  Anchorage CoC   AK  1267.0  1110.0    157.0       821.0

             shelIndiv  unshelIndiv  totalInFam  shelInFam      ...       \
cocNum year                                                     ...
AK-500 2007      589.0        107.0       278.0      253.0      ...
       2008      596.0         99.0       328.0      325.0      ...
       2009      689.0        132.0       446.0      421.0      ...

             rrhBedsDedVet  pshBedsDedVet  ophBedsDedVet  esBedsDedYouth  \
cocNum year
AK-500 2007            NaN            NaN            NaN             NaN
       2008            NaN            NaN            NaN             NaN
       2009            NaN            NaN            NaN             NaN

             thBedsDedYouth  shBedsDedYouth  rrhBedsDedYouth  pshBedsDedYouth  \
cocNum year
AK-500 2007             NaN             NaN              NaN              NaN
       2008             NaN             NaN              NaN              NaN
       2009             NaN             NaN              NaN              NaN

             ophBedsDedYouth  pshBedsDedCh
cocNum year
AK-500 2007              NaN         121.0
       2008              NaN         121.0
       2009              NaN          27.0

[3 rows x 113 columns]

*Result was st_x and st_y because some CoCs that appear on the HIC in a given year don't appear on the PIT*<br>
*Create a column that flags if they don't match*

In [85]:
pitHicAllCoc['cocOnBoth'] = np.where(pitHicAllCoc['st_x'] == pitHicAllCoc['st_y'], 'True', 'False')
pitHicAllCoc.head(3)

                   cocName st_x  totalH   shelH  unshelH  totalIndiv  \
cocNum year
AK-500 2007  Anchorage CoC   AK   974.0   842.0    132.0       696.0
       2008  Anchorage CoC   AK  1023.0   921.0    102.0       695.0
       2009  Anchorage CoC   AK  1267.0  1110.0    157.0       821.0

             shelIndiv  unshelIndiv  totalInFam  shelInFam    ...      \
cocNum year                                                   ...
AK-500 2007      589.0        107.0       278.0      253.0    ...
       2008      596.0         99.0       328.0      325.0    ...
       2009      689.0        132.0       446.0      421.0    ...

             pshBedsDedVet  ophBedsDedVet  esBedsDedYouth  thBedsDedYouth  \
cocNum year
AK-500 2007            NaN            NaN             NaN             NaN
       2008            NaN            NaN             NaN             NaN
       2009            NaN            NaN             NaN             NaN

             shBedsDedYouth  rrhBedsDedYouth  pshBedsDedYouth  \
cocNum year
AK-500 2007             NaN              NaN              NaN
       2008             NaN              NaN              NaN
       2009             NaN              NaN              NaN

             ophBedsDedYouth  pshBedsDedCh  cocOnBoth
cocNum year
AK-500 2007              NaN         121.0       True
       2008              NaN         121.0       True
       2009              NaN          27.0       True

[3 rows x 114 columns]

*Reset the index to be only cocNum*

In [86]:
pitHicAllCoc.reset_index(inplace=True)
pitHicAllCoc.set_index('cocNum', inplace=True)

# Excel output

writer = pd.ExcelWriter('output_files_paso1_unclean/pitHicAllStUnclean.xlsx')
pitHicAllSt.to_excel(writer,'pitHicAllStUnclean')
writer.save()

writer = pd.ExcelWriter('output_files_paso1_unclean/pitHicAllCocUnclean.xlsx')
pitHicAllCoc.to_excel(writer,'pitHicAllCocUnclean')
writer.save()

<div class="burk">
This PIT/HIC merger is based on as-is, original CoC numbers in the PIT and HIC.</div>

</i><div class="burk">
GO TO PASO2 TO RESOLVE HIC MISMATCH OF COCS</div>