In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Format PIT DataFrames by year

In [2]:
pit2007Coc = pd.read_csv('PIT_CSV_files/pit2007Coc.csv', index_col=0)
pit2008Coc = pd.read_csv('PIT_CSV_files/pit2008Coc.csv', index_col=0)
pit2009Coc = pd.read_csv('PIT_CSV_files/pit2009Coc.csv', index_col=0)
pit2010Coc = pd.read_csv('PIT_CSV_files/pit2010Coc.csv', index_col=0)
pit2011Coc = pd.read_csv('PIT_CSV_files/pit2011Coc.csv', index_col=0)
pit2012Coc = pd.read_csv('PIT_CSV_files/pit2012Coc.csv', index_col=0)
pit2013Coc = pd.read_csv('PIT_CSV_files/pit2013Coc.csv', index_col=0)
pit2014Coc = pd.read_csv('PIT_CSV_files/pit2014Coc.csv', index_col=0)
pit2015Coc = pd.read_csv('PIT_CSV_files/pit2015Coc.csv', index_col=0)
pit2016Coc = pd.read_csv('PIT_CSV_files/pit2016Coc.csv', index_col=0)
pit2017Coc = pd.read_csv('PIT_CSV_files/pit2017Coc.csv', index_col=0)

In [3]:
pitFilesCoc = [pit2007Coc, pit2008Coc, pit2009Coc, pit2010Coc, pit2011Coc, pit2012Coc, pit2013Coc, pit2014Coc, pit2015Coc, pit2016Coc, pit2017Coc]
years = np.arange(2007,2007+len(pitFilesCoc))

## Check Import

In [7]:
#pit2017Coc.head()
#pit2017Coc.tail(n=5)
list(pit2017Coc.columns)
#list(pit2016Coc.index)

['CoC Name',
 'Total Homeless, 2017',
 'Sheltered Homeless, 2017',
 'Unsheltered Homeless, 2017',
 'Homeless Individuals, 2017',
 'Sheltered Homeless Individuals, 2017',
 'Unsheltered Homeless Individuals, 2017',
 'Homeless People in Families, 2017',
 'Sheltered Homeless People in Families, 2017',
 'Unsheltered Homeless People in Families, 2017',
 'Chronically Homeless, 2017',
 'Sheltered Chronically Homeless, 2017',
 'Unsheltered Chronically Homeless, 2017',
 'Chronically Homeless Individuals, 2017',
 'Sheltered Chronically Homeless Individuals, 2017',
 'Unsheltered Chronically Homeless Individuals, 2017',
 'Chronically Homeless People in Families, 2017',
 'Sheltered Chronically Homeless People in Families, 2017',
 'Unsheltered Chronically Homeless People in Families, 2017',
 'Homeless Veterans, 2017',
 'Sheltered Homeless Veterans, 2017',
 'Unsheltered Homeless Veterans, 2017',
 'Homeless Unaccompanied Youth (Under 25), 2017',
 'Sheltered Homeless Unaccompanied Youth (Under 25), 2017',
 'Unsheltered Homeless Unaccompanied Youth (Under 25), 2017',
 'Homeless Unaccompanied Children (Under 18), 2017',
 'Sheltered Homeless Unaccompanied Children (Under 18), 2017',
 'Unsheltered Homeless Unaccompanied Children (Under 18), 2017',
 'Homeless Unaccompanied Young Adults (Age 18-24), 2017',
 'Sheltered Homeless Unaccompanied Young Adults (Age 18-24), 2017',
 'Unsheltered Homeless Unaccompanied Young Adults (Age 18-24), 2017',
 'Parenting Youth (Under 25), 2017',
 'Sheltered Parenting Youth (Under 25), 2017',
 'Unsheltered Parenting Youth (Under 25), 2017',
 'Parenting Youth Under 18, 2017',
 'Sheltered Parenting Youth Under 18, 2017',
 'Unsheltered Parenting Youth Under 18, 2017',
 'Parenting Youth Age 18-24, 2017',
 'Sheltered Parenting Youth Age 18-24, 2017',
 'Unsheltered Parenting Youth Age 18-24, 2017',
 'Children of Parenting Youth, 2017',
 'Sheltered Children of Parenting Youth, 2017',
 'Unsheltered Children of Parenting Youth, 2017']

In [9]:
pit2007Coc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 406 entries, AK-500 to nan
Data columns (total 13 columns):
CoC Name                                              403 non-null object
Total Homeless, 2007                                  403 non-null object
Sheltered Homeless, 2007                              403 non-null object
Unsheltered Homeless, 2007                            403 non-null object
Homeless Individuals, 2007                            403 non-null object
Sheltered Homeless Individuals, 2007                  403 non-null object
Unsheltered Homeless Individuals, 2007                403 non-null object
Homeless People in Families, 2007                     403 non-null object
Sheltered Homeless People in Families, 2007           403 non-null object
Unsheltered Homeless People in Families, 2007         403 non-null object
Chronically Homeless Individuals, 2007                403 non-null object
Sheltered Chronically Homeless Individuals, 2007      403 non-null object
Unsheltered Chronically Homeless Individuals, 2007    403 non-null object
dtypes: object(13)
memory usage: 44.4+ KB

## Format, Clean Up

*Remove extra rows created full of NaN.*

In [10]:
for file in pitFilesCoc:
    file.dropna(how='all', inplace=True)
pit2017Coc.tail(n=2)

,CoC Name,"Total Homeless, 2017","Sheltered Homeless, 2017","Unsheltered Homeless, 2017","Homeless Individuals, 2017","Sheltered Homeless Individuals, 2017","Unsheltered Homeless Individuals, 2017","Homeless People in Families, 2017","Sheltered Homeless People in Families, 2017","Unsheltered Homeless People in Families, 2017",...,"Unsheltered Parenting Youth (Under 25), 2017","Parenting Youth Under 18, 2017","Sheltered Parenting Youth Under 18, 2017","Unsheltered Parenting Youth Under 18, 2017","Parenting Youth Age 18-24, 2017","Sheltered Parenting Youth Age 18-24, 2017","Unsheltered Parenting Youth Age 18-24, 2017","Children of Parenting Youth, 2017","Sheltered Children of Parenting Youth, 2017","Unsheltered Children of Parenting Youth, 2017"
CoC Number,,,,,,,,,,,,,,,,,,,,,
WY-500,Wyoming Statewide CoC,873,510,363,622,383,239,251,127,124,...,3.0,0.0,0.0,0.0,16,13,3.0,11,8,3.0
NaN,Total,"553,742","360,867","192,875","369,081","193,144","175,937","184,661","167,723","16,938",...,577.0,96.0,83.0,13.0,"9,340","8,776",564.0,"12,152","11,433",719.0

*Remove the Total row*

In [11]:
for file in pitFilesCoc:
    file.reset_index(inplace=True) #set as numeric index
    file.set_index('CoC Name', inplace=True) #set index to CoC name
    file.drop('Total', inplace=True) #drop where has no CoC name (the totals row is the only one)
    file.reset_index(inplace=True) #reset index back to numeric
    file.set_index('CoC Number', inplace=True) #set index to CoC number
    
pit2017Coc.tail(n=3)

,CoC Name,"Total Homeless, 2017","Sheltered Homeless, 2017","Unsheltered Homeless, 2017","Homeless Individuals, 2017","Sheltered Homeless Individuals, 2017","Unsheltered Homeless Individuals, 2017","Homeless People in Families, 2017","Sheltered Homeless People in Families, 2017","Unsheltered Homeless People in Families, 2017",...,"Unsheltered Parenting Youth (Under 25), 2017","Parenting Youth Under 18, 2017","Sheltered Parenting Youth Under 18, 2017","Unsheltered Parenting Youth Under 18, 2017","Parenting Youth Age 18-24, 2017","Sheltered Parenting Youth Age 18-24, 2017","Unsheltered Parenting Youth Age 18-24, 2017","Children of Parenting Youth, 2017","Sheltered Children of Parenting Youth, 2017","Unsheltered Children of Parenting Youth, 2017"
CoC Number,,,,,,,,,,,,,,,,,,,,,
WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",319,270,49,272,223,49,47,47,0,...,0.0,0.0,0.0,0.0,1,1,0.0,1,1,0.0
WV-508,West Virginia Balance of State CoC,667,567,100,535,451,84,132,116,16,...,0.0,0.0,0.0,0.0,4,4,0.0,6,6,0.0
WY-500,Wyoming Statewide CoC,873,510,363,622,383,239,251,127,124,...,3.0,0.0,0.0,0.0,16,13,3.0,11,8,3.0

*Remove the , YYYY from each column header*

In [12]:
i = 0
for file in pitFilesCoc:
    year = str(years[i])
    replaceThis = ', '+year
    file.columns = file.columns.map(lambda x: x.replace(replaceThis,''))
    i+=1
pit2017Coc.head(n=3)

,CoC Name,Total Homeless,Sheltered Homeless,Unsheltered Homeless,Homeless Individuals,Sheltered Homeless Individuals,Unsheltered Homeless Individuals,Homeless People in Families,Sheltered Homeless People in Families,Unsheltered Homeless People in Families,...,Unsheltered Parenting Youth (Under 25),Parenting Youth Under 18,Sheltered Parenting Youth Under 18,Unsheltered Parenting Youth Under 18,Parenting Youth Age 18-24,Sheltered Parenting Youth Age 18-24,Unsheltered Parenting Youth Age 18-24,Children of Parenting Youth,Sheltered Children of Parenting Youth,Unsheltered Children of Parenting Youth
CoC Number,,,,,,,,,,,,,,,,,,,,,
AK-500,Anchorage CoC,"1,128",973,155,848,693,155,280,280,0,...,0.0,0.0,0.0,0.0,12,12,0.0,21,21,0.0
AK-501,Alaska Balance of State CoC,717,578,139,506,367,139,211,211,0,...,0.0,0.0,0.0,0.0,10,10,0.0,18,18,0.0
AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...","1,092",875,217,932,715,217,160,160,0,...,0.0,6.0,6.0,0.0,2,2,0.0,10,10,0.0

*Add a column for year*

In [13]:
i = 0
for file in pitFilesCoc:
    year = years[i]
    file.insert(0,'Year',year)
    i+=1
pit2017Coc.head(n=3)

,Year,CoC Name,Total Homeless,Sheltered Homeless,Unsheltered Homeless,Homeless Individuals,Sheltered Homeless Individuals,Unsheltered Homeless Individuals,Homeless People in Families,Sheltered Homeless People in Families,...,Unsheltered Parenting Youth (Under 25),Parenting Youth Under 18,Sheltered Parenting Youth Under 18,Unsheltered Parenting Youth Under 18,Parenting Youth Age 18-24,Sheltered Parenting Youth Age 18-24,Unsheltered Parenting Youth Age 18-24,Children of Parenting Youth,Sheltered Children of Parenting Youth,Unsheltered Children of Parenting Youth
CoC Number,,,,,,,,,,,,,,,,,,,,,
AK-500,2017,Anchorage CoC,"1,128",973,155,848,693,155,280,280,...,0.0,0.0,0.0,0.0,12,12,0.0,21,21,0.0
AK-501,2017,Alaska Balance of State CoC,717,578,139,506,367,139,211,211,...,0.0,0.0,0.0,0.0,10,10,0.0,18,18,0.0
AL-500,2017,"Birmingham/Jefferson, St. Clair, Shelby Counti...","1,092",875,217,932,715,217,160,160,...,0.0,6.0,6.0,0.0,2,2,0.0,10,10,0.0

*Remove commas, convert to numeric*

In [14]:
#This is slightly different from the state PIT syntax because at least one row was given cell value of '.', 
#That value must be removed to NaN, so float will then need to be used rather than int.
def removeComma(x):
    if type(x) == str:
        x = x.replace(',', '')
        if x.isnumeric() == False:
            x = np.nan
    return float(x)

'''
Looping through seems to replace the object. "pit2007st is files[0]" would then return False, whereas True until now.
In other words, the change would have taken place for files[0] but not for pit2007st.
Same problem with a syntax like 'for file in files:'

for i in range(len(files)):
    files[i] = files[i].applymap(lambda x: removeComma(x))
    
Why???    
'''

'\nLooping through seems to replace the object. "pit2007st is files[0]" would then return False, whereas True until now.\nIn other words, the change would have taken place for files[0] but not for pit2007st.\nSame problem with a syntax like \'for file in files:\'\n\nfor i in range(len(files)):\n    files[i] = files[i].applymap(lambda x: removeComma(x))\n    \nWhy???    \n'

In [17]:
pit2007Coc.iloc[:,2:] = pit2007Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2008Coc.iloc[:,2:] = pit2008Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2009Coc.iloc[:,2:] = pit2009Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2010Coc.iloc[:,2:] = pit2010Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2011Coc.iloc[:,2:] = pit2011Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2012Coc.iloc[:,2:] = pit2012Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2013Coc.iloc[:,2:] = pit2013Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2014Coc.iloc[:,2:] = pit2014Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2015Coc.iloc[:,2:] = pit2015Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2016Coc.iloc[:,2:] = pit2016Coc.iloc[:,2:].applymap(lambda x: removeComma(x))
pit2017Coc.iloc[:,2:] = pit2017Coc.iloc[:,2:].applymap(lambda x: removeComma(x))

pit2017Coc.head(n=3)

,Year,CoC Name,Total Homeless,Sheltered Homeless,Unsheltered Homeless,Homeless Individuals,Sheltered Homeless Individuals,Unsheltered Homeless Individuals,Homeless People in Families,Sheltered Homeless People in Families,...,Unsheltered Parenting Youth (Under 25),Parenting Youth Under 18,Sheltered Parenting Youth Under 18,Unsheltered Parenting Youth Under 18,Parenting Youth Age 18-24,Sheltered Parenting Youth Age 18-24,Unsheltered Parenting Youth Age 18-24,Children of Parenting Youth,Sheltered Children of Parenting Youth,Unsheltered Children of Parenting Youth
CoC Number,,,,,,,,,,,,,,,,,,,,,
AK-500,2017,Anchorage CoC,1128.0,973.0,155.0,848.0,693.0,155.0,280.0,280.0,...,0.0,0.0,0.0,0.0,12.0,12.0,0.0,21.0,21.0,0.0
AK-501,2017,Alaska Balance of State CoC,717.0,578.0,139.0,506.0,367.0,139.0,211.0,211.0,...,0.0,0.0,0.0,0.0,10.0,10.0,0.0,18.0,18.0,0.0
AL-500,2017,"Birmingham/Jefferson, St. Clair, Shelby Counti...",1092.0,875.0,217.0,932.0,715.0,217.0,160.0,160.0,...,0.0,6.0,6.0,0.0,2.0,2.0,0.0,10.0,10.0,0.0

*Set abbreviated headers for convenience*

In [19]:
newColumnNames = {'Year':'year', 'CoC Number':'cocNum', 'CoC Name':'cocName', 'Total Homeless':'totalH', 'Sheltered Homeless':'shelH', 
                  'Unsheltered Homeless':'unshelH', 'Homeless Individuals':'totalIndiv', 
                  'Sheltered Homeless Individuals':'shelIndiv', 'Unsheltered Homeless Individuals':'unshelIndiv', 
                  'Homeless People in Families':'totalInFam', 'Sheltered Homeless People in Families':'shelInFam', 
                  'Unsheltered Homeless People in Families':'unshelInFam', 'Chronically Homeless':'totalChronic', 
                  'Sheltered Chronically Homeless':'shelChronic', 'Unsheltered Chronically Homeless':'unshelChronic', 
                  'Chronically Homeless Individuals':'totalChronicIndiv', 
                  'Sheltered Chronically Homeless Individuals':'shelChronicIndiv', 
                  'Unsheltered Chronically Homeless Individuals':'unshelChronicIndiv', 
                  'Chronically Homeless People in Families':'totalChronicInFam', 
                  'Sheltered Chronically Homeless People in Families':'shelChronicInFam',
                  'Unsheltered Chronically Homeless People in Families':'unshelChronicInFam',
                  'Homeless Veterans':'totalVet', 'Sheltered Homeless Veterans':'shelVet',
                  'Unsheltered Homeless Veterans':'unshelVet', 'Homeless Unaccompanied Youth (Under 25)':'totalYouthAll',
                  'Sheltered Homeless Unaccompanied Youth (Under 25)':'shelYouthAll',
                  'Unsheltered Homeless Unaccompanied Youth (Under 25)':'unshelYouthAll', 
                  'Homeless Unaccompanied Children (Under 18)':'totalYouthChild', 
                  'Sheltered Homeless Unaccompanied Children (Under 18)':'shelYouthChild', 
                  'Unsheltered Homeless Unaccompanied Children (Under 18)':'unshelYouthChild',
                  'Homeless Unaccompanied Young Adults (Age 18-24)':'totalYouthYA',
                  'Sheltered Homeless Unaccompanied Young Adults (Age 18-24)':'shelYouthYA',
                  'Unsheltered Homeless Unaccompanied Young Adults (Age 18-24)':'unshelYouthYA',
                  'Parenting Youth (Under 25)':'totalParYouthAll', 'Sheltered Parenting Youth (Under 25)':'shelParYouthAll', 
                  'Unsheltered Parenting Youth (Under 25)':'unshelParYouthAll', 'Parenting Youth Under 18':'totalParYouthChild', 
                  'Sheltered Parenting Youth Under 18':'shelParYouthChild',
                  'Unsheltered Parenting Youth Under 18':'unshelParYouthChild', 'Parenting Youth Age 18-24':'totalParYouthYA', 
                  'Sheltered Parenting Youth Age 18-24':'shelParYouthYA', 
                  'Unsheltered Parenting Youth Age 18-24':'unshelParYouthYA',
                  'Children of Parenting Youth':'totalChildOfParYouth',
                  'Sheltered Children of Parenting Youth':'shelChildOfParYouth',
                  'Unsheltered Children of Parenting Youth':'unshelChildOfParYouth'
                 }

In [20]:
pit2007Coc.rename(columns=newColumnNames, inplace=True)
pit2008Coc.rename(columns=newColumnNames, inplace=True)
pit2009Coc.rename(columns=newColumnNames, inplace=True)
pit2010Coc.rename(columns=newColumnNames, inplace=True)
pit2011Coc.rename(columns=newColumnNames, inplace=True)
pit2012Coc.rename(columns=newColumnNames, inplace=True)
pit2013Coc.rename(columns=newColumnNames, inplace=True)
pit2014Coc.rename(columns=newColumnNames, inplace=True)
pit2015Coc.rename(columns=newColumnNames, inplace=True)
pit2016Coc.rename(columns=newColumnNames, inplace=True)
pit2017Coc.rename(columns=newColumnNames, inplace=True)

pitFilesCoc = [pit2007Coc, pit2008Coc, pit2009Coc, pit2010Coc, pit2011Coc, pit2012Coc, pit2013Coc, pit2014Coc, pit2015Coc, pit2016Coc, pit2017Coc]

pit2017Coc.columns

Index(['year', 'cocName', 'totalH', 'shelH', 'unshelH', 'totalIndiv',
       'shelIndiv', 'unshelIndiv', 'totalInFam', 'shelInFam', 'unshelInFam',
       'totalChronic', 'shelChronic', 'unshelChronic', 'totalChronicIndiv',
       'shelChronicIndiv', 'unshelChronicIndiv', 'totalChronicInFam',
       'shelChronicInFam', 'unshelChronicInFam', 'totalVet', 'shelVet',
       'unshelVet', 'totalYouthAll', 'shelYouthAll', 'unshelYouthAll',
       'totalYouthChild', 'shelYouthChild', 'unshelYouthChild', 'totalYouthYA',
       'shelYouthYA', 'unshelYouthYA', 'totalParYouthAll', 'shelParYouthAll',
       'unshelParYouthAll', 'totalParYouthChild', 'shelParYouthChild',
       'unshelParYouthChild', 'totalParYouthYA', 'shelParYouthYA',
       'unshelParYouthYA', 'totalChildOfParYouth', 'shelChildOfParYouth',
       'unshelChildOfParYouth'],
      dtype='object')

*Change MO-604a to MO-604*

In [21]:
pit2007Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2008Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2009Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2010Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2011Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2012Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2013Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2014Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2015Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2016Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)
pit2017Coc.rename(index={'MO-604a':'MO-604'}, inplace=True)

*Rename CoC number in the index*

In [22]:
i = 0
for file in pitFilesCoc:
    year = years[i]
    file.index.rename('cocNum', inplace=True)
    i+=1
pit2017Coc.head(n=3)

,year,cocName,totalH,shelH,unshelH,totalIndiv,shelIndiv,unshelIndiv,totalInFam,shelInFam,...,unshelParYouthAll,totalParYouthChild,shelParYouthChild,unshelParYouthChild,totalParYouthYA,shelParYouthYA,unshelParYouthYA,totalChildOfParYouth,shelChildOfParYouth,unshelChildOfParYouth
cocNum,,,,,,,,,,,,,,,,,,,,,
AK-500,2017,Anchorage CoC,1128.0,973.0,155.0,848.0,693.0,155.0,280.0,280.0,...,0.0,0.0,0.0,0.0,12.0,12.0,0.0,21.0,21.0,0.0
AK-501,2017,Alaska Balance of State CoC,717.0,578.0,139.0,506.0,367.0,139.0,211.0,211.0,...,0.0,0.0,0.0,0.0,10.0,10.0,0.0,18.0,18.0,0.0
AL-500,2017,"Birmingham/Jefferson, St. Clair, Shelby Counti...",1092.0,875.0,217.0,932.0,715.0,217.0,160.0,160.0,...,0.0,6.0,6.0,0.0,2.0,2.0,0.0,10.0,10.0,0.0

*Add a column for state*

In [23]:
i = 0
for file in pitFilesCoc:
    year = years[i]
    file['st'] = file.index.str[:2]
    i+=1
pit2017Coc.head(n=3)

,year,cocName,totalH,shelH,unshelH,totalIndiv,shelIndiv,unshelIndiv,totalInFam,shelInFam,...,totalParYouthChild,shelParYouthChild,unshelParYouthChild,totalParYouthYA,shelParYouthYA,unshelParYouthYA,totalChildOfParYouth,shelChildOfParYouth,unshelChildOfParYouth,st
cocNum,,,,,,,,,,,,,,,,,,,,,
AK-500,2017,Anchorage CoC,1128.0,973.0,155.0,848.0,693.0,155.0,280.0,280.0,...,0.0,0.0,0.0,12.0,12.0,0.0,21.0,21.0,0.0,AK
AK-501,2017,Alaska Balance of State CoC,717.0,578.0,139.0,506.0,367.0,139.0,211.0,211.0,...,0.0,0.0,0.0,10.0,10.0,0.0,18.0,18.0,0.0,AK
AL-500,2017,"Birmingham/Jefferson, St. Clair, Shelby Counti...",1092.0,875.0,217.0,932.0,715.0,217.0,160.0,160.0,...,6.0,6.0,0.0,2.0,2.0,0.0,10.0,10.0,0.0,AL

*Check totals*

In [25]:
for file in pitFilesCoc:
    print(file['year'].max(),": ",file['totalH'].sum())

2007 :  647258.0
2008 :  639784.0
2009 :  630227.0
2010 :  637077.0
2011 :  623788.0
2012 :  621553.0
2013 :  590364.0
2014 :  576450.0
2015 :  564708.0
2016 :  549928.0
2017 :  553742.0

# Create an all-years PIT DataFrame

*Combine all years*

In [26]:
pitAllCoc = pd.concat(pitFilesCoc, axis=0, join="outer")
pitAllCoc.head(n=3)
#note it sorted columns in alphabetical order

,cocName,shelChildOfParYouth,shelChronic,shelChronicInFam,shelChronicIndiv,shelH,shelInFam,shelIndiv,shelParYouthAll,shelParYouthChild,...,unshelInFam,unshelIndiv,unshelParYouthAll,unshelParYouthChild,unshelParYouthYA,unshelVet,unshelYouthAll,unshelYouthChild,unshelYouthYA,year
cocNum,,,,,,,,,,,,,,,,,,,,,
AK-500,Anchorage CoC,NaN,NaN,NaN,187.0,842.0,253.0,589.0,NaN,NaN,...,25.0,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
AK-501,Alaska Balance of State CoC,NaN,NaN,NaN,34.0,545.0,243.0,302.0,NaN,NaN,...,59.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007
AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",NaN,NaN,NaN,269.0,1240.0,407.0,833.0,NaN,NaN,...,168.0,696.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007

*Multi-index with year?*

In [27]:
#move year to multi-index?
#pitAllSt.set_index('year', append=True, inplace=True)
#pitAllSt.head(n=3)

*For earlier years when all chronically homeless were individuals, fill in total chronically homeless as individuals*

In [29]:
#what looks like before...
pitAllCoc.loc[['CA-500'],['year','totalChronic','shelChronic','unshelChronic','totalChronicIndiv','shelChronicIndiv','unshelChronicIndiv']]

,year,totalChronic,shelChronic,unshelChronic,totalChronicIndiv,shelChronicIndiv,unshelChronicIndiv
cocNum,,,,,,,
CA-500,2007,NaN,NaN,NaN,1757.0,223.0,1534.0
CA-500,2008,NaN,NaN,NaN,1757.0,223.0,1534.0
CA-500,2009,NaN,NaN,NaN,2270.0,195.0,2075.0
CA-500,2010,NaN,NaN,NaN,2270.0,195.0,2075.0
CA-500,2011,2555.0,225.0,2330.0,2520.0,225.0,2295.0
CA-500,2012,2657.0,327.0,2330.0,2617.0,322.0,2295.0
CA-500,2013,2518.0,259.0,2259.0,2509.0,259.0,2250.0
CA-500,2014,2535.0,276.0,2259.0,2513.0,263.0,2250.0
CA-500,2015,2207.0,189.0,2018.0,2169.0,184.0,1985.0
CA-500,2016,2146.0,128.0,2018.0,2095.0,110.0,1985.0
CA-500,2017,2097.0,302.0,1795.0,2018.0,260.0,1758.0

In [30]:
pitAllCoc['totalChronic'] = np.where(pitAllCoc['totalChronic'].isnull(), pitAllCoc['totalChronicIndiv'], pitAllCoc['totalChronic'])
pitAllCoc['shelChronic'] = np.where(pitAllCoc['shelChronic'].isnull(), pitAllCoc['shelChronicIndiv'], pitAllCoc['shelChronic'])
pitAllCoc['unshelChronic'] = np.where(pitAllCoc['unshelChronic'].isnull(), pitAllCoc['unshelChronicIndiv'], pitAllCoc['unshelChronic'])

pitAllCoc.loc[['CA-500'],['year','totalChronic','shelChronic','unshelChronic','totalChronicIndiv','shelChronicIndiv','unshelChronicIndiv']]

,year,totalChronic,shelChronic,unshelChronic,totalChronicIndiv,shelChronicIndiv,unshelChronicIndiv
cocNum,,,,,,,
CA-500,2007,1757.0,223.0,1534.0,1757.0,223.0,1534.0
CA-500,2008,1757.0,223.0,1534.0,1757.0,223.0,1534.0
CA-500,2009,2270.0,195.0,2075.0,2270.0,195.0,2075.0
CA-500,2010,2270.0,195.0,2075.0,2270.0,195.0,2075.0
CA-500,2011,2555.0,225.0,2330.0,2520.0,225.0,2295.0
CA-500,2012,2657.0,327.0,2330.0,2617.0,322.0,2295.0
CA-500,2013,2518.0,259.0,2259.0,2509.0,259.0,2250.0
CA-500,2014,2535.0,276.0,2259.0,2513.0,263.0,2250.0
CA-500,2015,2207.0,189.0,2018.0,2169.0,184.0,1985.0
CA-500,2016,2146.0,128.0,2018.0,2095.0,110.0,1985.0
CA-500,2017,2097.0,302.0,1795.0,2018.0,260.0,1758.0

*Create non-CH and non-Vets columns*

In [31]:
pitAllCoc['totalNonChronic'] = pitAllCoc['totalH']-pitAllCoc['totalChronic']
pitAllCoc['shelNonChronic'] = pitAllCoc['shelH']-pitAllCoc['shelChronic']
pitAllCoc['unshelNonChronic'] = pitAllCoc['unshelH']-pitAllCoc['unshelChronic']

pitAllCoc.tail(n=3)

,cocName,shelChildOfParYouth,shelChronic,shelChronicInFam,shelChronicIndiv,shelH,shelInFam,shelIndiv,shelParYouthAll,shelParYouthChild,...,unshelParYouthChild,unshelParYouthYA,unshelVet,unshelYouthAll,unshelYouthChild,unshelYouthYA,year,totalNonChronic,shelNonChronic,unshelNonChronic
cocNum,,,,,,,,,,,,,,,,,,,,,
WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",1.0,51.0,0.0,51.0,270.0,47.0,223.0,1.0,0.0,...,0.0,0.0,3.0,4.0,0.0,4.0,2017,254.0,219.0,35.0
WV-508,West Virginia Balance of State CoC,6.0,61.0,7.0,54.0,567.0,116.0,451.0,4.0,0.0,...,0.0,0.0,9.0,4.0,0.0,4.0,2017,558.0,506.0,52.0
WY-500,Wyoming Statewide CoC,8.0,26.0,12.0,14.0,510.0,127.0,383.0,13.0,0.0,...,0.0,3.0,13.0,19.0,13.0,6.0,2017,805.0,484.0,321.0

In [32]:
pitAllCoc['totalNonVet'] = pitAllCoc['totalH']-pitAllCoc['totalVet']
pitAllCoc['shelNonVet'] = pitAllCoc['shelH']-pitAllCoc['shelVet']
pitAllCoc['unshelNonVet'] = pitAllCoc['unshelVet']-pitAllCoc['unshelVet']

pitAllCoc.tail(n=3)

,cocName,shelChildOfParYouth,shelChronic,shelChronicInFam,shelChronicIndiv,shelH,shelInFam,shelIndiv,shelParYouthAll,shelParYouthChild,...,unshelYouthAll,unshelYouthChild,unshelYouthYA,year,totalNonChronic,shelNonChronic,unshelNonChronic,totalNonVet,shelNonVet,unshelNonVet
cocNum,,,,,,,,,,,,,,,,,,,,,
WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",1.0,51.0,0.0,51.0,270.0,47.0,223.0,1.0,0.0,...,4.0,0.0,4.0,2017,254.0,219.0,35.0,285.0,239.0,0.0
WV-508,West Virginia Balance of State CoC,6.0,61.0,7.0,54.0,567.0,116.0,451.0,4.0,0.0,...,4.0,0.0,4.0,2017,558.0,506.0,52.0,585.0,494.0,0.0
WY-500,Wyoming Statewide CoC,8.0,26.0,12.0,14.0,510.0,127.0,383.0,13.0,0.0,...,19.0,13.0,6.0,2017,805.0,484.0,321.0,810.0,460.0,0.0


*Because the columns had been automatically sorted alphabetically above, revert the order*

In [33]:
pitAllCoc = pitAllCoc[['cocName', 'st', 'year', 'totalH', 'shelH', 'unshelH', 
                     'totalIndiv', 'shelIndiv', 'unshelIndiv', 
                     'totalInFam', 'shelInFam', 'unshelInFam',
                     'totalChronic', 'shelChronic', 'unshelChronic', 
                     'totalNonChronic', 'shelNonChronic', 'unshelNonChronic',
                     'totalChronicIndiv', 'shelChronicIndiv', 'unshelChronicIndiv', 
                     'totalChronicInFam', 'shelChronicInFam', 'unshelChronicInFam', 
                     'totalVet', 'shelVet', 'unshelVet', 
                     'totalNonVet','shelNonVet','unshelNonVet', 
                     'totalYouthAll', 'shelYouthAll', 'unshelYouthAll', 
                     'totalYouthChild', 'shelYouthChild', 'unshelYouthChild', 
                     'totalYouthYA', 'shelYouthYA', 'unshelYouthYA', 
                     'totalParYouthAll', 'shelParYouthAll', 'unshelParYouthAll', 
                     'totalParYouthChild', 'shelParYouthChild', 'unshelParYouthChild', 
                     'totalParYouthYA', 'shelParYouthYA', 'unshelParYouthYA', 
                     'totalChildOfParYouth', 'shelChildOfParYouth', 'unshelChildOfParYouth']]
pitAllCoc.head(n=3)

,cocName,st,year,totalH,shelH,unshelH,totalIndiv,shelIndiv,unshelIndiv,totalInFam,...,unshelParYouthAll,totalParYouthChild,shelParYouthChild,unshelParYouthChild,totalParYouthYA,shelParYouthYA,unshelParYouthYA,totalChildOfParYouth,shelChildOfParYouth,unshelChildOfParYouth
cocNum,,,,,,,,,,,,,,,,,,,,,
AK-500,Anchorage CoC,AK,2007,974.0,842.0,132.0,696.0,589.0,107.0,278.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AK-501,Alaska Balance of State CoC,AK,2007,668.0,545.0,123.0,366.0,302.0,64.0,302.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",AL,2007,2104.0,1240.0,864.0,1529.0,833.0,696.0,575.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Output to Excel

In [34]:
writer = pd.ExcelWriter('output_files/pitAllCoc.xlsx')
pitAllCoc.to_excel(writer,'pitAllCoc')
writer.save()